### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
df_count = purchase_data.iloc[:,1].drop_duplicates()
new_df_count = pd.DataFrame({"Total Players":[(df_count.count())]})
new_df_count.head()

   Total Players
0            576

In [3]:
total_players= df_count.count()

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items= purchase_data["Item ID"].nunique()
unique_items

average_price= purchase_data["Price"].mean()
average_price

total_purchases= purchase_data ["Purchase ID"].nunique()
total_purchases

total_revenue= purchase_data ["Price"].sum()
total_revenue

purchasing_analysis= pd.DataFrame({"Number of Unique Items":[(unique_items)],
                                 "Average Price":[(average_price)],
                                   "Total Purchases":[(total_purchases)],
                                   "Total Revenue":[(total_revenue)]})
purchasing_analysis

   Number of Unique Items  Average Price  Total Purchases  Total Revenue
0                     183       3.050987              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
unique_sex= purchase_data.groupby("Gender").SN.nunique()
unique_sex
percentage_of_players= (unique_sex/total_players)*100
percentage_of_players

unique_sex_df= pd.DataFrame({"Total Count":unique_sex,
                         "Percentage of Players":percentage_of_players})
                                   
unique_sex_df

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
gender_purchase_count= purchase_data.groupby("Gender")["Purchase ID"].nunique()
gender_purchase_count

average_purchase_price= purchase_data.groupby("Gender")["Price"].mean()
average_purchase_price

average_purchase_total = purchase_data.groupby("Gender")["Price"].sum()
average_purchase_total

genders= purchase_data["Gender"].value_counts()
genders

average_total_purchase_per_person= (average_purchase_total/genders)
average_total_purchase_per_person

Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
bins= [0,9,14,19,24,29,34,39,46]

group_labels= ["1 to 10", "10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34", "35 to 39", "40+"]

pd.cut(purchase_data["Age"], bins, labels=group_labels).head()
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 to 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20 to 24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35 to 39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20 to 24
8,8,Undjask33,22,Male,21,Souleater,1.10,20 to 24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35 to 39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20 to 24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20 to 24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20 to 24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20 to 24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35 to 39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20 to 24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20 to 24
17,17,Zontibe81,21,Male,161,Devine,1.76,20 to 24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20 to 24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30 to 34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20 to 24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20 to 24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35 to 39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30 to 34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25 to 29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10 to 14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,1 to 10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20 to 24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20 to 24
...,...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20 to 24
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10 to 14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15 to 19
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35 to 39
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05,20 to 24
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15,10 to 14
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,20 to 24
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15 to 19
758,758,Iral74,21,Male,182,Toothpick,4.03,20 to 24
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77,25 to 29
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38,20 to 24
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,40+
762,762,Asur53,26,Male,110,Suspension,1.44,25 to 29
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75,20 to 24
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,15 to 19
765,765,Irith83,18,Male,130,Alpha,2.07,15 to 19
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20 to 24
767,767,Ilmol66,8,Female,92,Final Critic,4.88,1 to 10
768,768,Assassasta79,38,Male,92,Final Critic,4.88,35 to 39
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15 to 19
770,770,Lirtosia63,34,Male,12,Dawne,1.02,30 to 34
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,15 to 19
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58,25 to 29
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20 to 24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10 to 14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20 to 24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20 to 24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20 to 24
778,778,Sisur91,7,Male,101,Final Critic,4.19,1 to 10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20 to 24

In [8]:
age_group = purchase_data.groupby("Age Group")
age_group
age_group_count= purchase_data["Age Group"].value_counts()
age_group_count

percentage_of_players= (age_group_count/total_players)*100
percentage_of_players

age_group_df= pd.DataFrame({"Total Count":age_group_count,
                                 "Percentage of Players":(percentage_of_players)})
age_group_df.sort_index()

          Total Count  Percentage of Players
1 to 10            23               3.993056
10 to 14           28               4.861111
15 to 19          136              23.611111
20 to 24          365              63.368056
25 to 29          101              17.534722
30 to 34           73              12.673611
35 to 39           41               7.118056
40+                13               2.256944

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_count_age = age_group["Purchase ID"].count()
avg_purchase_price_age = age_group["Price"].mean()
total_purchase_value = age_group["Price"].sum()
avg_purchase_per_person_age = total_purchase_value/age_group_count

purchase_summary = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

purchase_summary.index.name = None

purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
1 to 10,23,3.353478,77.13,3.353478
10 to 14,28,2.956429,82.78,2.956429
15 to 19,136,3.035956,412.89,3.035956
20 to 24,365,3.052219,1114.06,3.052219
25 to 29,101,2.900990,293.00,2.900990
30 to 34,73,2.931507,214.00,2.931507
35 to 39,41,3.601707,147.67,3.601707
40+,13,2.941538,38.24,2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
# Group purchase data by screen names
spender_stats = purchase_data.groupby("SN")

# Count the total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()

# Calculate the average purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()

# Calculate purchase total 
purchase_total_spender = spender_stats["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:

items = purchase_data[["Item ID", "Item Name", "Price"]]
item_stats = items.groupby(["Item ID","Item Name"])
purchase_count_item = item_stats["Price"].count()
purchase_value = (item_stats["Price"].sum()) 
item_price = purchase_value/purchase_count_item

most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [16]:
# Take the most_popular items data frame and change the sorting to find highest total purchase value
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})